root = true

# Configuração padrão para todos os arquivos
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# JavaScript, TypeScript, JSON
[*.{js,jsx,ts,tsx,json}]
indent_style = space
indent_size = 2
